<div class="container my-5">
  <h3 class="mb-3">Register by providing your information here</h3>

  <div class="row">
    <div class="col-6">
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="At least 8 character">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-6">
      <h6>Registered already? <a routerLink="/login">Login</a></h6>
    </div>
  </div>
</div>
